<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.PostMapper">

    <!-- 让字段可以复用-->
    <sql id="selectFields">
        id, user_id, title, content, comment_count,score ,type, state, create_time, update_time
    </sql>

    <sql id="insertFields">
        user_id, title, content, comment_count,score ,type, state, create_time, update_time
    </sql>


    <!--查询所有帖子-->
    <select id="findAll" resultType="com.example.entity.Post">
        select
        <include refid="selectFields"></include>
        from post
        where state != 2
        <if test="userId!=0">
            and user_id = #{userId}
        </if>
        <if test="orderMode==0">
            order by type desc, create_time desc
        </if>
        <if test="orderMode==1">
            order by type desc, score desc, create_time desc
        </if>
    </select>

    <!-- 查询帖子数量 -->
    <select id="getPostCount" resultType="java.lang.Integer">
        select count(*)
        from post
        where state != 2
        <if test="userId!=0">
            and user_id = #{userId}
        </if>
    </select>

    <!-- 插入一条帖子 -->
    <insert id="insertPost" keyProperty="id">
        insert into post(<include refid="insertFields"></include>)
        values (#{userId},#{title},#{content},#{commentCount},#{score},#{type},#{state},#{createTime},#{updateTime})
    </insert>

    <!-- 根据id查询帖子 -->
    <select id="getPostById" resultType="com.example.entity.Post">
        select
        <include refid="selectFields"></include>
        from post
        where state != 2 and id = #{id}
    </select>

    <!-- 修改帖子 -->
    <update id="updatePost">
        update post
        set title = #{title},content=#{content},update_time=#{updateTime}
        where id=#{id}
    </update>

    <!-- 删除帖子 -->
    <delete id="delete">
        delete from post
        where id=#{id}
    </delete>

    <!-- 更新评论数量 -->
    <update id="updateCommentCount">
        update post
        set comment_count= #{commentCount}
        where id=#{id};
    </update>

</mapper>
